{require_min_otp_vsn, "20.0.4"}.
{erl_opts, [nowarn_deprecated_function,warn_unused_import,{i, "include"},{src_dirs, ["src"]}]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, false}.
{edoc_opts, [{dialyzer_specs, all},
             {report_missing_type, true},
             {report_type_mismatch, true},
             {pretty_print, erl_pp},
             {preprocess, true}]}.
{validate_app_modules, true}.
{deps, [{gen_logger, ".*", {git, "git@github.com:skynet64/gen_logger",{tag,"master"}}}]}.
